<!DOCTYPE html>
<!-- File used for both item addition and editing -->
<html>
<head>
    <title>Home - Ricettario</title>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/header") %>
    <form action="<%= (item) ? ('/edit/commit/' + id) : '/add/commit' %>"
        method="POST" id="add-form" enctype="multipart/form-data">

        <div id="first_line-container">
            <input type="text" name="name" id="input-name" placeholder="Nome"
            value="<%= (item) ? item.name : '' %>" required>
            <select name="type" id="input-type">
                <% ['Primo', 'Secondo', 'Contorno', 'Dolce', 'Altro']
                    .forEach((el) => { %>
                <option value="<%= el %>"
                    <%= (item && item.type == el) ? "selected" : "" %>>
                    <%= el %></option>
                <% }); %>
            </select>
        </div>

        <% if((!item) || !("image" in item) || item.image === "") { %>
        <div id="image-container">
            <label for="file-picker">Immagine:</label>
            <input id="file-picker" type="file" name="img" accept="image/*">
        </div>
        <% } %>

        <div id="difficulty-container">
            <label for="input-difficulty">Difficoltà:</label>
            <input type="range" min="1" max="5"
                value="<%= (item) ? item.difficulty : 3%>" name="difficulty"
                class="slider" id="input-difficulty">
            <span id="difficulty-label"></span>
        </div>

        <div id="doses_for-container">
            <label for="input-doses_for">Dosi per:</label>
            <input type="range" min="1" max="8"
                value="<%= (item) ? item.doses_for: 2%>" name="doses_for"
                class="slider" id="input-doses_for">
            <span id="doses_for-label"></span>
        </div>

        <div id="ingredients-container">
            <div>Ingredienti:</div>
            <% if (item) { %>
            <% for (var i = 0; i < item.ingredients.length; i++) { %>
            <% const el = item.ingredients[i]; %>
                <div>
                <input type="text" name="ingr-<%= i %>-name"
                    id="ingr<%= i%>-name" placeholder="Nome"
                    value="<%= el.name %>">
                <input type="text" name="ingr-<%= i %>-amount"
                    id="ingr<%= i %>-amount" placeholder="Quantità"
                    style="width: 15%;" value="<%= el.amount %>">
                </div>
            <% } %>
            <% } %>
        </div>

        <div id="procedure-container">
            <textarea name="procedure" id="input-procedure" rows="8"
                placeholder="Procedimento" required><%= (item) ? item.procedure
                : "" %></textarea>
        </div>
        
        <button type="submit"><%= (item) ? "Modifica" : "Aggiungi" %></button>
    </form>

    <script>
        ["difficulty", "doses_for"].forEach((el) => {
            var input = document.getElementById("input-" + el);
            input.addEventListener('input', (event) => {
                document.getElementById(el + "-label").innerHTML = input.value;
            });
            document.getElementById(el + "-label").innerHTML = input.value;
        });
        
        const startingVal = 
            document.getElementById("ingredients-container").children.length -1;
        var ingrCounter = startingVal;
            

        function newIngredient() {
            var ingr = document.createElement("div");

            ingr.innerHTML = '<input type="text" name="ingr-' + ingrCounter +
            '-name" id="ingr' + ingrCounter + '-name" placeholder="Nome">' +
            '<input type="text" name="ingr-' + ingrCounter + '-amount" ' +
            ' id="ingr' + ingrCounter + '-amount" placeholder="Quantità"' +
            'style="width: 15%;">';

            document.getElementById("ingredients-container").appendChild(ingr);

            var input = document.getElementById("ingr" + ingrCounter + "-name");
            input.addEventListener('input', newIngredient);

            if (ingrCounter > startingVal) {
                var prev = document.getElementById("ingr" + (ingrCounter - 1) +
                    "-name");
                prev.removeEventListener('input', newIngredient);
            }

            ingrCounter++;
        }
        newIngredient();
    </script>
    <style>
        #add-form > * {
            margin-top: 20px;
        }
        #ingredients-container > div {
            margin-top: 10px;
        }
        #ingredients-container > div > * {
            margin-right: 8px;
        }
        textarea {
            width: 100%;
        }
    </style>
</body>
</html>