<!DOCTYPE html>
<html>
<head>
    <title>Home - Ricettario</title>
    <%- include("partials/head") %>
</head>
<body>
    <%- include("partials/header") %>
    <table>
        <thead><tr>
            <td>Nome</td>
            <td>Tipo</td>
        </tr></thead>
        <tbody>
            <% if(list.length < 1) { %>
                <tr class="empty"><td>Non ci sono risultati</td></tr>
            <% } else { %>
            <% list.forEach((item) => { %>
                <tr class="item">
                <td class="name">
                    <a href="<%= 'items/' + item.id %>"><%= item.name %></a>
                </td>
                <td class="type">
                    <%= item.type %>
                </td>
                </tr>
            <% }); %>
            <% } %>
        </tbody>
    </table>
    <style>
        .empty > td {
            font-size: 24px;
            font-weight: bold;
            padding-top: 15px;
        }
    </style>
</body>
</html>